<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<div class="container-fluid">

	<h2>
		Math Whiz-ard -
		<small class="text-muted">Practice math for free!</small>
	</h2>

	<br>

	<div class="jumbotron">
		<h1 class="display-4">About Us</h1>
		<p class="lead">This website was created by a group of college students from CU to provide a free and easy method for students to practice math and check their progress as they go.</p>
		<br>
		<p class="lead">- Logan Park, Tim Wilson, Alex Ojemann, Zach Wrubel, Jonathan Noranbrock</p>
	</div>
</div>