<!-- Home Page -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<title>Home Page</title>
		
		<link rel="icon" href="../resources/img/logo.jpg" type="image/x-icon"/>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link href="../resources/css/my_style.css" rel="stylesheet">
		<style>
			.block {
				display: block;
				width: 100%;
				border: #04AA6D;
				outline: 2px solid #04AA6D;
				background-color: pink;
				padding: 14px 28px;
				font-size: 100px;
				cursor: pointer;
				text-align: center;				
			}
			body {
            	background-image: url("https://wallpaperaccess.com/full/4753229.jpg");
			}
			.vertical-center {
				margin: 0;
				position: absolute;
				top: 50%;
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			
		</style>
	</head>
	<body>
		<!-- Content -->
		<div class="container">
			<h1 style="text-align:center"> Welcome to Math Whiz-ard! </h1>
			<p style="text-align:center"> Math Whizard is a new Web-App designed to help kids get better at Math! Get started today! </p>
			<a href = "/name"><button type="button" type="submit" id="sign-in-btn" class="block" href="/login">Get Started</button> </a>
			<!-- <a class="btn btn-block btn-secondary" id="sign-in-btn" type="submit" href="/login">Get Started</a> -->
			
		</div>
	
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>
